<table id="" class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Curator</th>
      <th>Course</th>
    </tr>
  </thead>
  <ng-container *ngFor="let student of studentsArray">
    <tr
      class="table-dark"
      [ngClass]="{'editing':(fillTheTableRow2===student.$key),'notediting':!(fillTheTableRow2===student.$key)}"
    >
      <td>{{student.name}}</td>
      <td>{{student.surname}}</td>
      <td>{{student.curator}}</td>
      <td>{{student.course}}</td>
      <td>
        <button
          class="btn btn-primary btnTable"
          (click)="onEditClicked(student)"
        >Edit
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(student.$key)">Delete</button>
      </td>
    </tr>
  </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeleteMessage">
  Deleted succesfully
</div>
